fastapi
uvicorn

sqlalchemy
asyncpg

alembic

pydantic
pydantic-settings

pwdlib[argon2]

python-jose[cryptography]

python-multipart

email-validator

structlog

pytest
pytest-asyncio
httpx

greenlet==3.2.4
qdrant-client
openai
boto3
pypdf
pytesseract
Pillow